<div class="card text-white bg-dark mb-3 mt-3" style="max-width: 100%;">
    <div class="card-header">Biz haqimizda</div>
    <div class="card-body">
        <h5 class="card-title">Kompaniya: Maqola</h5>
        <h6 class="card-title">Tel: +998999999999</h6>
        <h6 class="card-title">Email: palonchipistonchi@gmail.com</h6>
        <p class="card-text">Bizning kompaniya keyingi vaqtlarda shiddat bilan rivojlanib
            blrayotgan kompaniyalardan biri. Siz o'z loyihalaringiz bilan kompzniyamiz rivojiga yanada hissa
            qo'shishingiz mumkin.</p>
    </div>
</div>