{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'blog/img/maqola.jpg' %}" width="100px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">So'ngi maqolalar</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex">
                <div>
                    <ul class="navbar-nav">
                        {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Salom {{ request.user.username }}!
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'profile' %}">Profil</a></li>
                                <li><a class="dropdown-item" href="{% url 'new_article' %}">Maqola qo'shish</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Chiqish</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Kirish</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Registratisya</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div>
                    <form class="d-flex" method="get" action="{% url 'search_results' %}">
                        <input name="q" class="form-control me-2" type="search" placeholder="Izlash"
                               aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Izlash</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>
